:root {
    --transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
    --grid-spacing-horizontal: 20px;
    --grid-spacing-vertical: 20px;

    --background-gradient-1: rgba(0, 0, 255, 0.25);
    --background-gradient-2: rgba(255, 0, 0, 0.25);

    --flag-left: #d33;
    --flag-middle: #ddd;
    --flag-right: #33d;
    --hero-spacing: 20vh;
    --dark-mode-button-height: 2.5rem;
    --dark-mode-button-width: 2.5rem;
}

:root:not([data-theme="dark"]), [data-theme="light"] {
    --background-color: #e5e2df;
    --grid-spacing-horizontal: 1rem;
    --grid-spacing-vertical: 1rem;
    --card-sectionning-background-color: #ebebeb;

    --flag-middle: #333;
}

:root:not([data-theme="light"]), [data-theme="dark"] {
    --background-color: #1a1d20;
    --background-color-mix: #000;
    --card-sectionning-background-color: #1c252d;
}

* {
    transition: color var(--transition), background-color var(--transition), border-color var(--transition), text-decoration-color var(--transition), fill var(--transition), stroke var(--transition);
}

html {
    padding: var(--pico-spacing);
    background-image: radial-gradient(circle 400px at top left, var(--background-gradient-1), transparent),
                      radial-gradient(circle 200px at 80% 10%, var(--background-gradient-2), transparent),
                      radial-gradient(circle 150px at 80% 18%, var(--background-gradient-2), transparent),
                      radial-gradient(circle 200px at 75% 25%, var(--background-gradient-2), transparent);
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    text-align: center;
}

header a, header b, header i, footer a, footer b, footer i {
    display: block;
}

.grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid > article {
    margin: 0;
    grid-column: span 2 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grid > article:last-child:nth-child(odd) {
    /* centre the article if there are an odd number. */
    grid-column-start: 2;
}

/* Hero section */
section.hero {
    text-align: center;
    padding-top: var(--hero-spacing);
    padding-bottom: var(--hero-spacing);
}

section.hero > hgroup {
    display: inline-block;
    width: 100%;
    max-width: 32rem;
}

section.hero > hgroup h1 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 1.5rem;
}

section.hero > hgroup h1 + h2 {
    display: inline-block;
    max-width: 24rem;
}

html[data-theme="light"] section.hero > hgroup h1 {
    background: -webkit-gradient(linear, left top, right top, from(var(--flag-left)), color-stop(var(--flag-middle)), to(var(--flag-right)));
    background: -o-linear-gradient(left, var(--flag-left), var(--flag-middle), var(--flag-right));
    background: linear-gradient(to right, var(--flag-left), var(--flag-middle), var(--flag-right));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

section.hero > hgroup h1 {
    background: -webkit-gradient(linear, left top, right top, from(var(--flag-left)), color-stop(var(--flag-middle)), to(var(--flag-right)));
    background: -o-linear-gradient(left, var(--flag-left), var(--flag-middle), var(--flag-right));
    background: linear-gradient(to right, var(--flag-left), var(--flag-middle), var(--flag-right));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Dark mode toggle */
.theme-switcher {
    position: fixed;
    right: var(--pico-spacing);
    bottom: var(--pico-spacing);
    width: var(--dark-mode-button-width);
    height: var(--dark-mode-button-height);
    margin-bottom: 0;
    line-height: 0;
    padding: 0.5rem;
    border-radius: 100%;
    box-shadow: var(--pico-card-box-shadow);
}

.theme-switcher::after {
    display: inline-block;
    content: "";
    vertical-align: bottom;
    transition: transform var(--transition);
}

html[data-theme="light"] .theme-switcher {
    background-color: #333;
}
html[data-theme="light"] .theme-switcher::after {
    content: url("../img/moon.svg");
    /* https: //codepen.io/sosuke/pen/Pjoqqp */
    /* https: //stackoverflow.com/a/53336754/3578036 */
    filter: invert(99%) sepia(65%) saturate(471%) hue-rotate(210deg) brightness(117%) contrast(73%);
}

html[data-theme="dark"] .theme-switcher {
    background-color: #ddd;
}
html[data-theme="dark"] .theme-switcher::after {
    content: url("../img/sun.svg");
}

.theme-switcher i {
    display: inline-block;
    max-width: 0;
    padding: 0;
    overflow: hidden;
    font-style: normal;
    font-size: .875rem;
    white-space: nowrap;
}


@media screen and (max-width: 768px) {
    body {
        /* Prevent the dark mode toggle from potentially obscurring content */
        margin-bottom: calc(var(--dark-mode-button-height) + var(--pico-spacing) + 1rem);
    }

    .grid {
        /* Change to flexbox as it handles columns nicer */
        display: flex;
        flex-direction: column;
    }
}
